body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
nav {
    background: #F9F9F9;
    box-shadow: 0px 0px 10px 5px #0003;
    position: relative;
    z-index:5;
}
.container {
    max-width: 1100px;
    margin:auto;
    background: white;
    box-shadow: 0px 0px 10px 5px #0003;
    position: relative;
    z-index:1;
    padding: 30px 50px 0px 50px;
    box-sizing: border-box;
    @media only screen and (max-width:$MOBILE) { 
        padding: 40px 10px 0px 10px;
    }
}
.nav-container {
    display: grid;
    grid-template-columns: 3fr 1fr .5fr;
    @media only screen and (max-width:400px) {
        grid-template-columns: 2fr 1fr 1fr;
    }
    justify-items: flex-end;
    align-items: center;
    padding:15px 30px;
    max-width: 1100px;
    margin:auto;
}
nav .title {
    justify-self: flex-start;
    font-size: 34px;
    font-family: $FONT_HEADERS;
    &:hover {
        text-decoration: none;
        color: $FONT_COLOR_DARK;
    }
    @media only screen and (max-width:$MOBILE){
    display: none;
    }
}

nav .title-short {
    display: none;
    justify-self: flex-start;
    font-size: 34px;
    font-family: $FONT_HEADERS;
    &:hover {
        text-decoration: none;
        color: $FONT_COLOR_DARK;
    }
    @media only screen and (max-width:$MOBILE){
        display: block;
    }
}
nav input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: #E9E9E9;
    @media only screen and (max-width:$MOBILE) {
        display: none;
        
    }
}
.fa-bars {
    color: #E9E9E9;
    font-size: 40px;
    grid-column: 3;
    &:hover {
        cursor:pointer;
    }
}
.nav-container .fa-search {
    display: none;
    grid-column: 2;
    color: #E9E9E9;
    font-size: 40px;
    &:hover {
        cursor:pointer;
    }
    @media only screen and (max-width:$MOBILE) {
        display: block;
    }
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;

    pointer-events: none;
    z-index: 2;
    background: #000000ad;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    &.visible {
        opacity: 1;
        pointer-events: unset;
    }
}

#nav-menu {
    position: fixed;
    right: -350px;
    top: 0;
    width: 100%;
    background:white;
    max-width: 320px;
    text-align: center;
    height: 100%;
    z-index: 3;
    box-shadow: 0px 0px 10px 10px #00000026;
    padding: 100px 20px;
    box-sizing: border-box;
    transition: right 0.4s ease-in-out;

    ul {
        list-style: none;
        padding:0px;
        li {
            font-family: $FONT_CONTENT;
            color: $FONT_COLOR_MED;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    &.visible {
        right:0px
    }
}
.outer-container {
    background: url('/images/custom/hero.png') center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4 {
    text-align: center;
    font-family: $FONT_HEADERS;
    font-weight: 400;
    color: $FONT_COLOR_DARK;
}
h1 {
    margin-top: 0px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}

a {
    color: $FONT_COLOR_DARK;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        text-decoration: underline;
        color:$PRIMARY_COLOR;
    }
}

p {
    font-family: $FONT_CONTENT;
    font-size: 16px;
    line-height: 21px;
    color: $FONT_COLOR_DARK;

    a {
        color: $PRIMARY_COLOR;
        text-decoration: underline;
    }
}

.date {
    font-size: 12px;
    font-family: $FONT_HEADERS;
    color: $FONT_COLOR_MED;
    display: inline-block;
}

.tag {
    font-family: $FONT_HEADERS;
    color: $FONT_COLOR_DARK;
    padding: 5px 10px;
    font-weight: 400;
    margin:0px 5px 0px 0px;
    background: #bef3be;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
}

.tags {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.view-all {
    color: $PRIMARY_COLOR;
    font-family: $FONT_HEADERS;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: max-content;
    margin: 20px auto;
    transition: 0.2s ease-in;

    &:hover {
        color: $FONT_COLOR_LIGHT;
        background: $PRIMARY_COLOR;

    }
}

.primary-cta {
    color: $FONT_COLOR_LIGHT;
    background: $PRIMARY_COLOR;
    font-family: $FONT_HEADERS;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: max-content;
    margin: 10px auto;
    transition: 0.2s ease-in;

    &:hover {
        background: $PRIMARY_COLOR +20;
        color: $FONT_COLOR_LIGHT;

    }
}

.sidebar {
    background:$SOFT_BACKGROUND;
    padding: 20px 15px;
    border-radius: 5px;
    .sidebar-title {
        font-family: $FONT_CONTENT;
        color: $FONT_COLOR_MED;
        font-size: 16px;
        text-align: center;
    }
    .other-blog {
        border-bottom: 1px solid #70707033;
    }
    @media only screen and (max-width:$MOBILE) {
        display: none;
    }
    p {
        font-size:12px;
    }
}

.footer {
    background: #E9E9E9;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 50px -50px 0px -50px;

    div {
        display: flex;
        justify-content: space-evenly;
        a {
            margin:0px 10px;
            @media only screen and (max-width:$MOBILE) { 
                width:33%;
                margin-bottom: 15px;
            }
        }
    }
    a, .copyright {
        font-family: $FONT_CONTENT;
        color: $FONT_COLOR_MED;
        text-decoration: none;
        @media only screen and (max-width:$MOBILE) { 
            text-align: center;
            margin-bottom: 15px;
        }
    }
    @media only screen and (max-width:$MOBILE) { 
        margin: 50px -10px 0px -10px;
        flex-direction: column;
    }
}