$SOFT_BACKGROUND: #F9F9F9;
$PRIMARY_COLOR: #88CEF3;


$FONT_COLOR_DARK: black;
$FONT_COLOR_MED: #252525;
$FONT_COLOR_LIGHT: white;

$FONT_HEADERS: 'Bitter', serif;
$FONT_CONTENT: 'Raleway', serif;

$MOBILE: 700px;