$SOFT_BACKGROUND: #F9F9F9;
$MEDIUM_BACKGROUND: #c4c4c426;
$PRIMARY_COLOR: #2c97d0;


$FONT_COLOR_DARK: black;
$FONT_COLOR_MED: #a5a5a5;
$FONT_COLOR_LIGHT: white;

$FONT_HEADERS: 'Bitter', serif;
$FONT_CONTENT: 'Raleway', serif;

$MOBILE: 700px;
$TABLET: 1000px;