<html>
    <head>
        <title> Dev Blog | Dan Gowing </title>
        <link rel="stylesheet" href="/build/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        {if !segment_1}
        {layout:contents}
        {if:else}
        <nav></nav>
        <div class='content-wrapper'>
            {layout:contents}
        </div>
        {/if}

        <script src="/build/runtime.js"></script>
        <script src="/build/scripts.js"></script>
    </body>
    
</html>
