{layout="_layouts/_base"}
<div class='hero-wrapper'>
    <div class='hero-inner'>
        <div class='intro'>
            <h1> Professional Web Developer </h1>
            <h2> Dan Gowing</h2>
        </div>
        <div class='links'>
            <div class='jump-link blog'>
                <a href='#blog-hub'>
                        <h3>Blog</h3>
                    </a>
                </div>
                <div class='jump-link projects'>
                <a href='#project-hub'>
                    <h3>Projects</h3>
                </a>
                </div>
                <div class='jump-link contact'>
                <a href='#contact-hub'>
                    <h3>Contact</h3>
                </a>
                </div>
        </div>
    </div>
</div>

<div class='wrapper blog-wrapper' id='blog-hub'>
    <div class='column recent'>
        <h2>Newest Blog Posts</h2>
        {embed='_embeds/_homepage_blog' order='recent'}
    </div>
    <div class='column popular'>
        <h2>Trending Blog Posts</h2>
        {embed='_embeds/_homepage_blog' order='popular'}
    </div>
    <a href="/blog" class='cta cta-full'>View All Blog Posts</a>
</div>



<div class='wrapper projects-wrapper' id='project-hub'>
    <div class='full-rule-divide'></div>
    <h2>Projects</h2>
</div>
