{layout="_layouts/_base"}

<div class='about'>
    <div class='profile'>
        <img src="/images/custom/me.jpeg" alt="Dan Gowing">
        <div class='profile-info'>
            <h1>Full Stack Web Developer</h1>
            <h2>Daniel Gowing</h2>
        </div>
    </div>
    <div class='site-info'>
        A development blog where I try to write down things I've googled so that I might find them again.
        <br> <br> 
        Occasionally you might find a useful page on this site. Please report it as an error.
    </div>
</div>
<div>
    <h2> Newest Blog Posts</h2>
    <div class='featured-blogs'>
        {exp:channel:entries channel='blog' limit='2' dynamic='no'}
        <div class='blog-post'>
            <h3><a href='/blog/{url_title}'>{title}</a></h3>
            <div class='meta'>
                <div class='date'>{entry_date format="%F %d %Y"}</div>
                <div class='tags'>
                    {categories style='linear' show_group='1' limit='3'}
                        <div class='tag {category_name}'><a href="/blog/{category_url_title}">{category_name}</a></div>
                    {/categories}
                </div>
            </div>
            <p>
                {short_body}
            </p>
            <a class='primary-cta' href="/blog/{url_title}">Continue Reading</a>
        </div>
        {/exp:channel:entries}
    </div>
    <a href="/blog" class='view-all'>View All Blog Posts</a>
</div>
